{namespace agency=Tx_Typo3Agencies_ViewHelpers}
	
<f:layout name="withoutFlashMessages" />

<f:section name="content">

	<h1>Create agency profile - Step 2</h1>
	
	<f:format.html>{settings.stepTwoText}</f:format.html>
	
	<agency:flashMessages renderMode="div" class="tx-extbase-flash-message" />
	
	<f:form action="updateNewAgency" objectName="newAgency" object="{newAgency}" enctype="multipart/form-data">
		<div class="b-form b-form-edit">
			<div class="{agency:hasError(property: 'name', then: 'b-form-row b-form-error', else: 'b-form-row')}">
				<label for="form-name"><f:translate key="agencyName">Agency name:</f:translate><f:translate key="required"> (required)</f:translate></label>
				<div class="b-form-inputs">
					<f:form.textfield property="name" />
				</div><!-- b-form-inputs -->
			</div><!-- b-form-row -->
	
			<div class="{agency:hasError(property: 'about', then: 'b-form-row b-form-error', else: 'b-form-row')}">
				<label for="form-about-project"><f:translate key="agencyAbout">Description:</f:translate><f:translate key="required"> (required)</f:translate></label>
				<div class="b-form-inputs">
					<f:form.textarea cols="1" rows="1" property="about"/>
				</div><!-- b-form-inputs -->
			</div><!-- b-form-row -->
	
			<div class="b-form-row">
				<f:if condition="{newAgency.logo}">
					<f:then>
						<label for="form-about-project"><f:translate key="logo">Logo:</f:translate></label>
						<div class="b-form-inputs">
							<div class="b-form-file MultiFile-label">
								<f:link.action controller="Agency" action="enterInformation" arguments="{newAgency: newAgency, logo: 1}" noCacheHash="false" class="MultiFile-remove">x</f:link.action>
								<span class="MultiFile-title" >{newAgency.logo}</span>
							</div><!-- .b-form-file -->
						</div><!-- b-form-inputs -->
					</f:then>
					<f:else>
						<label for="form-about-project"><f:translate key="uploadLogo">Upload logo:</f:translate></label>
						<div class="b-form-inputs">
							<div class="b-form-file">
								<f:form.upload property="logo" class="multi-file max-1"/>
								<span class="form-file-main-text">Choose file</span> <span class="form-file-secondary-text"><f:translate key="limits">Limits: jpg/png, 600x480px, 500KB</f:translate></span>
							</div><!-- .b-form-file -->
						</div><!-- b-form-inputs -->
					</f:else>
				</f:if>
			</div><!-- b-form-row -->
	
			<div class="{agency:hasError(property: 'link', then: 'b-form-row b-form-error', else: 'b-form-row')}">
				<label for="form-link"><f:translate key="link">Link:</f:translate><f:translate key="required"> (required)</f:translate></label>
				<div class="b-form-inputs">
					<f:form.textfield property="link" />
				</div><!-- b-form-inputs -->
			</div><!-- b-form-row -->
	
			<div class="b-form-row">
				<label for="form-service"><f:translate key="services">Services:</f:translate></label>
				<div class="b-form-inputs">
					<div class="b-form-boxes">
						<div class="b-form-sub-row sub-theee-columns">
							<div class="b-form-sub-column">
								<label for="form-training-service"><f:translate key="training">Training</f:translate></label>
								<f:form.checkbox property="trainingService" value="1" id="form-training-service" />
							</div><!-- .b-form-sub-column -->
							<div class="b-form-sub-column">
								<label for="form-hosting-service"><f:translate key="hosting">Hosting</f:translate></label>
								<f:form.checkbox property="hostingService" value="1" id="form-hosting-service" />
							</div><!-- .b-form-sub-column -->
							<div class="b-form-sub-column">
								<label for="form-development-service"><f:translate key="development">Development</f:translate></label>
								<f:form.checkbox property="developmentService" value="1" id="form-development-service" />											
							</div><!-- .b-form-sub-column -->
						</div><!-- b-form-sub-row -->
					</div><!-- b-form-boxes -->
				</div><!-- b-form-inputs -->
			</div><!-- b-form-row -->	
	
			<div class="{agency:hasError(property: 'address', then: 'b-form-row b-form-error', else: 'b-form-row')}">
				<label for="form-address"><f:translate key="address">Address:</f:translate></label>
				<div class="b-form-inputs">
					<f:form.textfield property="address" />
				</div><!-- b-form-inputs -->
			</div><!-- b-form-row -->
	
			<div class="{agency:hasError(property: 'city', then: 'b-form-row b-form-error', else: 'b-form-row')}">
				<label for="form-city"><f:translate key="city">City:</f:translate></label>
				<div class="b-form-inputs">
					<f:form.textfield property="city" />
				</div><!-- b-form-inputs -->
			</div><!-- b-form-row -->
	
			<div class="{agency:hasError(property: 'country', then: 'b-form-row b-form-error', else: 'b-form-row')}">
				<label for="form-country"><f:translate key="country">Country:</f:translate></label>
				<div class="b-form-inputs">
					<f:form.select property="country" value="{country}" options="{countries}" id="form-country"></f:form.select>
				</div><!-- b-form-inputs -->
			</div><!-- b-form-row -->
	
			<div class="{agency:hasError(property: 'zip', then: 'b-form-row b-form-error', else: 'b-form-row')}">
				<label for="form-zip">Zip:</label>
				<div class="b-form-inputs">
					<f:form.textfield property="zip" />
				</div><!-- b-form-inputs -->
			</div><!-- b-form-row -->	
	
			<div class="{agency:hasError(property: 'contact', then: 'b-form-row b-form-error', else: 'b-form-row')}">
				<label for="form-contact-person"><f:translate key="contact">Contact Person:</f:translate><f:translate key="required"> (required)</f:translate></label>
				<div class="b-form-inputs">
					<f:form.textfield property="contact" />
				</div><!-- b-form-inputs -->
			</div><!-- b-form-row -->	
	
			<div class="{agency:hasError(property: 'email', then: 'b-form-row b-form-error', else: 'b-form-row')}">
				<label for="form-email"><f:translate key="email">Email:</f:translate><f:translate key="required"> (required)</f:translate></label>
				<div class="b-form-inputs">
					<f:form.textfield property="email" />
				</div><!-- b-form-inputs -->
			</div><!-- b-form-row -->	
	
			<div class="b-form-row">
				<div class="b-form-inputs">
					<button type="submit" class="bu bu-confirm"><b>Next step</b></button>
				</div><!-- b-form-inputs -->
			</div><!-- b-form-row -->
		</div><!-- b-form -->
	
		<f:form.hidden name="code" value="{code}" />
		
	</f:form>
</f:section>