{namespace agency=Tx_Typo3Agencies_ViewHelpers}

<f:format.html>{settings.stepOneText}</f:format.html>

<agency:flashMessages renderMode="div" class="tx-extbase-flash-message" />


<f:form action="verifyCode">
	<div class="b-form b-form-edit"> 
		<div class="b-form-row"> 
			<label for="form-input">Agency code:</label> 
			<div class="b-form-inputs"> 
				<f:form.textfield name="agencyCode" />
			</div><!-- b-form-inputs --> 
		</div><!-- b-form-row --> 

		<div class="b-form-row"> 
			<div class="b-form-inputs"> 
				<button type="submit" class="bu bu-confirm"><b>Validate code</b></button> 
			</div><!-- b-form-inputs --> 
		</div><!-- b-form-row --> 

	</div><!-- .b-form b-form-edit --> 
</f:form>