{namespace agency=Tx_Typo3Agencies_ViewHelpers}
<h1>Create agency profile - Step 2</h1>

<f:format.html>{settings.stepTwoText}</f:format.html>

<agency:flashMessages renderMode="div" class="tx-extbase-flash-message" />

<f:form action="updateNewAgency" objectName="newAgency" object="{newAgency}">
	<div class="b-form b-form-edit">
		<div class="b-form-row">
			<label for="form-name">Agency name</label>
			<div class="b-form-inputs">
				<f:form.textfield property="name" />
			</div><!-- b-form-inputs -->
		</div><!-- b-form-row -->
		<div class="b-form-row">
			<label for="form-about-project">Description</label>
			<div class="b-form-inputs">
				<f:form.textarea cols="1" rows="1" property="about"/>
			</div><!-- b-form-inputs -->
		</div><!-- b-form-row -->
		<div class="b-form-row">
			<label for="form-about-project">Upload logo</label>
			<div class="b-form-inputs">
				<div class="b-form-file">
					<input type="file" maxlength="1" name="logo" class="multi-file" />
					<span class="form-file-main-text">Choose file</span> <span class="form-file-secondary-text">Limits: jpg/png, 600x480px, 500KB</span>
				</div><!-- .b-form-file -->
			</div><!-- b-form-inputs -->
		</div><!-- b-form-row -->
		<div class="b-form-row">
			<label for="form-link">Link</label>
			<div class="b-form-inputs">
				<f:form.textfield property="link" />
			</div><!-- b-form-inputs -->
		</div><!-- b-form-row -->
		<div class="b-form-row">
			<label for="form-address">Address</label>
			<div class="b-form-inputs">
				<f:form.textfield property="address" />
			</div><!-- b-form-inputs -->
		</div><!-- b-form-row -->
		<div class="b-form-row">
			<label for="form-city">City</label>
			<div class="b-form-inputs">
				<f:form.textfield property="city" />
			</div><!-- b-form-inputs -->
		</div><!-- b-form-row -->
		<div class="b-form-row">
			<label for="form-country">Country:</label>
			<div class="b-form-inputs">
				<f:form.select property="country" value="{country}" options="{countries}" id="form-country"></f:form.select>
			</div><!-- b-form-inputs -->
		</div><!-- b-form-row -->
		<div class="b-form-row">
			<label for="form-zip">Zip:</label>
			<div class="b-form-inputs">
				<f:form.textfield property="zip" />
			</div><!-- b-form-inputs -->
		</div><!-- b-form-row -->	
		<div class="b-form-row">
			<label for="form-contact-person">Contact Person:</label>
			<div class="b-form-inputs">
				<f:form.textfield property="contact" />
			</div><!-- b-form-inputs -->
		</div><!-- b-form-row -->	
		<div class="b-form-row">
			<label for="form-email">Email:</label>
			<div class="b-form-inputs">
				<f:form.textfield property="email" />
			</div><!-- b-form-inputs -->
		</div><!-- b-form-row -->	
		<div class="b-form-row">
			<div class="b-form-inputs">
				<button type="submit" class="bu bu-confirm"><b>Next step</b></button>
				<button type="reset" class="bu bu-secondary">Cancel</button>
			</div><!-- b-form-inputs -->
		</div><!-- b-form-row -->
	</div><!-- b-form -->

	<f:form.hidden name="code" value="{code}" />
	
</f:form>