{namespace agency=Tx_Typo3Agencies_ViewHelpers}
	
<f:layout name="withoutFlashMessages" />

<f:section name="content">

	<h1>Create agency profile - Step 1</h1>
	
	<f:format.html>{settings.stepOneText}</f:format.html>
	
	<agency:flashMessages renderMode="div" class="tx-extbase-flash-message" />

	<f:if condition="{agencies -> f:count}">
		<f:then>
			<table class="manage-keys">
				<thead>
				<tr>
					<th>My Agencies</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
					<f:for each="{agencies}" as="agency">
						<tr class="tr-odd">
							<td>
								<f:link.action action="verifyCode" arguments="{agencyCode:agency.code}" noCacheHash="1">
									<f:if condition="{agency.name}" then="{agency.name}" else="[no title]" />
								</f:link.action>
							</td>
							<td>
								<f:link.action class="bu bu-mini" action="verifyCode" arguments="{agencyCode:agency.code}" noCacheHash="1">Edit</f:link.action>
							</td>
						</tr>
						<li></li>
					</f:for>
				</tbody>
			</table>
		</f:then>
	</f:if>
	<p><f:link.action class="bu" action="verifyCode" arguments="{agencyCode:newCode}" noCacheHash="1">Get Listed Now!</f:link.action></p>
</f:section>