Hi,

The following approval data has been send by the agency

Practical agency information
--------------------------------------------
{agency.name}
{agency.about}
{agency.member}
{agency.zip} {agency.city}
{agency.country}

Contact information
--------------------------------------------
{agency.contact}
{agency.email}
{agency.link}



<f:translate key="ourWebsiteRunsVersion">Our website runs on TYPO3 version:</f:translate>
--------------------------------------------
{typo3Version}



<f:translate key="nameOfCertifiedIntegrator">Name of the certified TYPO3 integrator (needs to be a permanent employee):</f:translate>
--------------------------------------------
{certifiedEmployee}




<f:translate key="publishedExtensionKeys">Extension key of your published extension:</f:translate>
--------------------------------------------
{developmentKnowledge}




<f:translate key="communityInvolvement">Your TYPO3 community involvement:</f:translate>
--------------------------------------------
{substansialContribution}




<f:translate key="realizedProjects">Online TYPO3 projects you realized:</f:translate>
--------------------------------------------
{caseStudies}




Online references:
--------------------------------------------
{onlineReferences}