Hi,

The following approval data has been send by the agency

{agency.name}


Certified Integrator Employee:
--------------------------------------------
{certifiedEmployee}




Proof of development knowledge:
--------------------------------------------
{developmentKnowledge}




Substansial contribution:
--------------------------------------------
{substansialContribution}




Case studies:
--------------------------------------------
{caseStudies}




Online references:
--------------------------------------------
{onlineReferences}