<f:layout name="default" />
<f:section name="content">

	<div class="agency">

		<h1>
			<f:if condition="{agency.name}">
				<f:then>
					{agency.name}
				</f:then>
				<f:else>
					{agency.firstName} {agency.lastName}
				</f:else>
			</f:if>
		</h1>

		<div class="cl">
			<div class="s-sidebar">
				<f:if condition="{isAdministrator}">
					<f:form controller="Reference" action="sort" id="tx-sort-form" method="get" name="sort" enctype="multipart/form-data">
						<f:form.hidden id="tx-sort-input-sort-uid" property="uid" />
						<f:form.hidden id="tx-sort-input-sort-sort" property="sort" />
						<input type="hidden" name="type" value="12536" />
					</f:form>

					<f:render partial="creditbox" arguments="{agency : agency, availableCredits : availableCredits, usedCredits : usedCredits}" />
				</f:if>

			</div><!-- s-sidebar -->
			<div class="s-body">

				<div class="b-project">
					<f:if condition="{administrator}">
						<f:if condition="{administrator} == {agency.administrator}">
							<p class="b-project-toolbar">
								<f:link.page pageUid="{settings.referencesPid}" additionalParams="{tx_typo3agencies_pi1:{action:'new',controller:'Reference',reference:topReference}}"><f:translate key="newProject">Add your project</f:translate></f:link.page>
								<span> | </span>
								<f:link.page pageUid="{settings.agenciesPid}" additionalParams="{tx_typo3agencies_pi1:{action:'edit',controller:'Agency',agency:agency}}">
									<f:translate key="editProfile">Edit profile</f:translate>
								</f:link.page>
							</p>
						</f:if>
					</f:if>
					<p class="b-project-link">
						<f:link.external uri="{agency.link}" target="_blank"><strong>{agency.link}</strong></f:link.external>
					</p>
					<div class="hr"><hr /> </div>

					<div class="b-agency">
						<div class="agency-img">
							<f:if condition="{agency.logo}">
								<f:image src="{uploadPath}/{agency.logo}" alt="" width="178"/>
							</f:if>
							<f:image src="{f:uri.resource(path:'Media/Images/membership/{agency.member}-widen.jpg')}" alt="" />
						</div><!-- .agency-img -->
						<div class="agency-desc">
							<p><f:format.nl2br>{agency.about}</f:format.nl2br></p>
						</div><!-- .agency-desc -->
					</div><!-- .b-agency -->
				</div><!-- b-project -->

				<f:if condition="{administrator}">
					<f:if condition="{administrator} == {agency.administrator}">
						<p class="b-project-toolbar">
						<f:link.page pageUid="{settings.referencesPid}" additionalParams="{tx_typo3agencies_pi1:{action:'new',controller:'Reference',reference:topReference}}"><f:translate key="newProject">Add your project</f:translate></f:link.page>
						</p>
					</f:if>
				</f:if>
				<h2><strong><f:translate key="projectsOf">Project List</f:translate></strong></h2>
				<f:if condition="{agency.references}">
					<ul class="b-projects-list" id="sortable">
					<f:for each="{agency.references}" as="reference">
						<f:if condition="{reference.deactivated} == 1">
							<f:then>
								<f:if condition="{administrator}">
									<f:render partial="reference" arguments="{reference: reference, administrator : administrator, uploadPath : uploadPath, controller : 'Reference', redirectController : redirectController, redirect : redirect}" />
								</f:if>
							</f:then>
							<f:else>
								<f:render partial="reference" arguments="{reference: reference, administrator : administrator, uploadPath : uploadPath, controller : 'Reference', redirectController : redirectController, redirect : redirect}" />
							</f:else>
						</f:if>
					</f:for>
					</ul><!-- b-projects-list -->
				</f:if>

			</div><!-- s-body -->

		</div><!-- cl -->
	</div>
</f:section>
