<h4>Case study credits</h4>
<div class="b-box b-stat">
	<ul class="linear-list">
		<li>
			<p class="linear-list-status"><img src="{f:uri.resource(path:'Media/Images/membership/{agency.member}-membership-small.png')}" width="108" height="38" /></p>
		</li>
		<li><span class="b-stat-info">{agency.casestudies}</span>Number of credits:</li>
		<li><span class="b-stat-info">{availableCredits}</span>Available credits:</li>
		<li><span class="b-stat-info">{usedCredits}</span>Used credits:</li>
		<li><a href="http://shop.typo3.org/shop/useradmin/my-memberships/professional-services/ref/shop/">Buy more</a>
			<p><a href="http://shop.typo3.org/shop/useradmin/my-memberships/ref/shop/" class="bu bu-mini" >Upgrade account</a></p></li>
	</ul>
</div><!-- b-box -->