<div class="pic">
	<f:if condition="{reference.screenshot}">
		<img src="{uploadPath}/{reference.screenshot}" width="149" height="120" alt="pic" />
	</f:if> 
	
	<f:render partial="referenceActions" arguments="{reference: reference, administrator : administrator, controller : controller, redirectController : redirectController, redirect : redirect}" />
</div>
<div class="b-project-body" style="min-height: 200px;">
	
	<h4>{reference.title}</h4>
	
	<p class="b-project-cat">
		<f:translate key="category">Category</f:translate>:
		<f:link.action action="index" controller="Reference"	arguments="{filterString : 'category#{reference.category}'}">
			<f:translate key="category{reference.category}"></f:translate>
		</f:link.action>
		<span class="sep">|</span> 
		<f:translate key="industry">Industry</f:translate>:
		<f:link.action action="index" controller="Reference" arguments="{filter : null, filterString : 'industry#{reference.industry}'}">
			<f:translate key="industry{reference.industry}"></f:translate>
		</f:link.action>
	</p>
	<div class="hr">
		<hr />
	</div>
	<p>
		<f:format.nl2br><f:format.crop maxCharacters="150">{reference.description}</f:format.crop></f:format.nl2br>
	</p>
	<p class="b-project-created">
		Created by: 
		<f:link.external uri="{reference.agency.link}" target="_blank" class="b-project-created-by" > 
			<strong> 
				<f:if condition="{reference.agency.name}">
					<f:then>
						{reference.agency.name}
					</f:then>
					<f:else>
						{reference.agency.firstName} {reference.agency.lastName}
					</f:else>
				</f:if> 
			</strong>
		</f:link.external>
		(<f:link.action action="show" controller="Agency" arguments="{agency : reference.agency}">See all projects</f:link.action>)
	</p>
	<p>
		<f:link.action action="show" controller="Reference"	arguments="{reference : reference}">
			<f:translate key="readMore">Read more</f:translate>
		</f:link.action>
	</p>
</div>
<!-- b-project-body -->
