<f:if condition="{administrator}">
	<f:if condition="{administrator} == {reference.agency.administrator}">
		<p class="b-project-toolbar">
			<f:link.action controller="Reference" action="delete" arguments="{reference : reference, redirectController : redirectController, redirect : redirect}" class="ico i-del"><f:translate key="delete">Delete</f:translate></f:link.action>
			<f:link.action controller="Reference" action="edit" arguments="{reference : reference}"><f:translate key="edit">Edit</f:translate></f:link.action> <span class="sep">|</span> 
			<f:if condition="{reference.deactivated}">
				<f:then>
					<f:link.action controller="Reference" action="reactivate" arguments="{reference : reference, redirectController : redirectController, redirect : redirect}"><f:translate key="activate">Activate</f:translate></f:link.action>
				</f:then>
				<f:else>
					<f:link.action controller="Reference" action="deactivate" arguments="{reference : reference, redirectController : redirectController, redirect : redirect}"><f:translate key="deactivate">Deactivate</f:translate></f:link.action>
				</f:else>
			</f:if>
		</p>
	</f:if>
</f:if>